.cabeçalho {
    background-color: rgba(242, 6, 152, 0.353);
color: rgba(145, 62, 187, 0.9);
display: flex;
justify-content: space-around ;
padding: 24px 0;
font-size: 30px;

}

.cabeçalho-lista-item{
    display: inline-block;
}






